
body{
  font-color:black; 
}
.page {
    text-align: center;
    background-color: #263238;
    width: 100%;
    height: 100%;
    margin: auto;
}
.header {
  background-color: #263238;
  height: 10%;
  font-family: serif;
  font-size: 30px;
  font-weight: bold; 
}
.filtercontainer {
    display: flex;
    justify-content: space-around;
}
.filter {
  display: flex;
  width: 100%;
  flex-direction:row;
      margin-bottom: -22px;
}
#min {
  
  width: 20%;
  height: 5%;
}
#max {
  
  width: 20%;
  height: 5%;
}
.col {
  width: 100%;
}
.header_text {
    color: white;
    font-size: 25px;
    font-weight: 600
}
.products {
  background-color: #9a4c54;
  width: 100%;
  margin: auto;
  margin-top: 30px;
  
}
.item {
  height: 50px;
}
.itemname {
  display: inline-block;
  width: 30%;
}
.itemcost {
  display: inline-block;
  width: 20%;
}
.stock {
  display: inline-block;
  width: 20%;
}
.addtocart {
  display: inline-block;
  
}

.yourcart {
  background-color: #0d47a1;
  width: 100%;
  margin: auto;
  
}
.addeditemname {
  width: 50%;
  display: inline-block;

}
.addeditemcost {
  width: 20%;
  display: inline-block;
}
.addeditemcount {
  width: 20%;
  display: inline-block;
}
.total {
  width: 20%;
  margin: auto;
}